.team {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 50px 0 50px 0;
  color: black;
  background-color: rgb(182, 212, 240);
}

.team-logo {
  height: 30vh;
  width: 30vw;
  padding: 2.5%;
}

.team-desc {
  display: flex;
  flex-direction: column;
}

.team-name {
  font-size: calc(24px + 2vmin);
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 2.5%;
}

.team-text {
  padding-left: 5%;
  padding-right: 5%;
}

.team-image {
  width: 30vh;
  height: 40vh;
  padding-left: 2vh;
  padding-bottom: 1vh
}