.home-header {
  border-top: 100px;
  min-height: 20vh;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 2vmin);
  color: black;
  background-color: white;
}

.banner {
  margin-top: 50px;
  margin-left: 50px;
}

.navigation-item {
  margin-left: 50px;
}