.about {
  text-align: left;
  background-color: white;
}
  
.about-header {
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
  