@import '../../common/colors.scss';

.merch {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $primary-background-color;
}

.merch-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.merch-header {
  margin: 0px;
  font-size: 4rem;
  font-weight: bold;
  text-decoration: underline;
  color: $secondary-text-color;
  padding-bottom: 1vh;
}


/* Mobile adjustments */
@media screen and (max-width: 768px) {
  .merch-header {
    margin: 0px;
    font-size: 3rem;
  }
}