.about {

}

.about-text {
  font-size: calc(10px + 2vmin);

  @media screen and (max-width: 550px) {
    margin-left: 8vw;
    margin-right: 8vw;
  }
  @media screen and (min-width: 550px) {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

.profiles {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: white;
}
  