.home-body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80vh;
}

.left-images {
  display: inline;
  height: 80vh;
  width: 6vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.left-image {
  height: 10%;
  width: 100%;
  margin-bottom: 2vh;
}

.video-container {
  margin-top: 5vh;
  height: 20vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
}

.right-images {
  display: inline;
  height: 80vh;
  width: 6vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.right-image {
  height: 10%;
  width: 100%;
  margin-bottom: 2vh;
}