@import '../../common/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $primary-background-color;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-background-color;
  width: 100%;
}

.team-images {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-image-logo {
  height: 10%;
  width: 10%;
}

.team-image-logo:not(:last-child) {
  margin-right: 150px;
}

.video-player {
  width: 100%;
  height: 65vh;
}

/* Mobile adjustments */
@media screen and (max-width: 768px) {
  .home-body {
    padding-bottom: 37vh;
  }
  .team-image-logo {
    height: 25%;
    width: 25%;
  }

  .video-player {
    width: 100%;
    height: 25vh;
  }

  .team-image-logo:not(:last-child) {
    margin-right: 40px;
  }
}