// $primary-background-color: rgb(136, 255, 255);
$primary-background-color: rgb(0, 191, 255);
$primary-text-color: rgb(0, 60, 255);
$secondary-text-color: rgb(254, 1, 136);
$thirdary-text-color: rgb(255, 255, 134);